{% extends "photo_blog/base.html" %}
{% load material_form %}
{% block content %}

<div class="login">
  <form method="POST">
    {% csrf_token %}
    <img src="/media/logo.png" height="90px" class="center img_reg">
    <fieldset>
      {% form form=form %}{% endform %}
      <div class="right-align">
        <button type="submit" name="_submit" class="login_btn center">
          <span class="btn__content">Request password reset</span>
          <span class="btn__glitch"></span>
          <span class="btn__label">r25</span>
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}
