{% extends "photo_blog/base.html" %}
{% block content %}

<div class="content login mt-1">
  <center>
    <h4 style="color: yellow;">Direct Messages</h4>
  </center>
  </br>
  </br>
  {% if object_list %}
    {% for direct_message in object_list %}
      <a href="{% url 'direct_messages-thread' direct_message.sender.username %}""><img class='rounded-circle article-img mt-1 crop' src="{{ direct_message.sender.profile.image.url }}" height="50" width="50"></a>
      <a style="text-decoration: none; color: white;" class="black-link" href="{% url 'direct_messages-thread' direct_message.sender.username %}">{{ direct_message.sender }}</a>
      </br>
      </br>
    {% endfor %}
  {% else %}
      <center>
        <span style="color: yellow;">You haven't received any messages yet</span>
      </center>
  {% endif %}
  <center class="mt-2">
    <a style="background-color: yellow; color: black;" class="btn" href="{% url 'direct_messages-new' %}">New Message</a>
  </center>
</div>

{% endblock %}
